*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: #ae7954; 
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav h1{
    color: #261b17;
    margin-left: 80px;
}

nav ul{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

nav ul li{
    list-style: none;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #f5e6c8;
    transition: all .3s;
}

nav ul li a:hover{
    color: #261b17;
}

nav .menu{
    display: none;
}


header{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/bg-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

header .titulo{
    font-size: 40px;
    color: #f5e6c8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.subtitulo1{
    margin-left: 320px;
    margin-bottom: 15px;
    color:#ae7954;
    border: 0 0 15px 0;
}

hr{
    margin: 60px 40px;
}

#pEnVenta, #pEnAlquiler{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-bottom: 20px;
}

article{
    border: 1px solid rgb(182, 182, 182);
    width: 400px;
    margin-top: 10px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#enVenta, #enAlquiler{
    margin-left: 320px;
    padding: 10px 15px;
    background-color: #ae7954;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    transition: all .3s;
}

#enVenta:hover, #enAlquiler:hover{
    cursor: pointer;
    background-color: #261b17;
    color: #f5e6c8;
}

i{
    margin-right: 5px;
}

h4, p{
    line-height: 24px;
    margin: 17px;
}


img{
    width: 400px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer{
    background-color: #261b17;
    color: #f5e6c8;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

@media(max-width:999px){
    header .titulo{
        font-size: 30px;
        text-align: center;
    }

    nav ul li a{
        display: none;
    }

    nav .menu{
        display: initial;
         color: #261b17;
         font-size: 30px;
        margin-right: 50px;
        margin-top: 15px;
    }

    #pEnVenta, #pEnAlquiler{
        grid-template-columns: auto;
    }

    article{
        margin-bottom: 20px;
    }

    .subtitulo1{
        margin-left: 0;
        text-align: center;
    }

     .boton-container{
        display: flex;
        justify-content: center;
    }

    #enVenta, #enAlquiler{
        margin-left: 0;
    }
}